* {
    margin: 0;
    padding: 0;
}

/* Header Part */

.header-container {
    background-color: antiquewhite;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 600px;
    border-radius: 10px;
    max-width: 1250px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

}

nav h2 {
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 0;
}

nav ul {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 25px;
    color: rgb(240, 109, 57);
}

nav li {
    list-style: none;
    margin-right: 50px;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-text {
    width: 50%;
    padding-left: 100px;

}

.header-text h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.header-text h3 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 5px;
}

.header-text p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

.primary-btn{
    font-size: 20px;
    color: aliceblue;
    background-color: rgb(248, 88, 13);
    border: 0;
    padding: 15px 35px;
    border-radius: 10px;
}
.primary-btn a{
    text-decoration: none;
    color: aliceblue;
}

.header-profile img {
    height: 500px;

}

/* Main Part */

/* about part */
.about {
    max-width: 800px;
    margin: 50px auto;
    padding: 50px;
    background-color: #f8ebeb;
}

.about-text {
    text-align: center;

}

.about-text h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

.about-text p {
    font-size: 20px;
    margin-bottom: 10px;
}

.about-me {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.about-me h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.about-me p {
    font-size: 15px;
    margin-bottom: 5px;
}

/* what i do part */

.do-work {
    max-width: 1250px;
    margin: 0 auto;
    background-color: #f1decf;
    padding: 35px 0;
}

.work-text {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 800px;
    padding: 20px 0;

}

.work-text h1 {
    font-size: 30px;
    margin-bottom: 30px;
}

.work-text p {
    font-size: 20px;
    margin-bottom: 30px;
}

.Card {
    display: flex;
    justify-content: space-around;
}

.Card .do-card {
    max-width: 200px;
    text-align: center;
    box-shadow: 4px 4px 4px rgb(142, 147, 153);
    padding: 30px;
}

.do-card h2 {
    font-size: 30px;
    padding: 10px;
}

.do-card p {
    text-align: justify;
}

/* Resume Part */
.resume {
    max-width: 1250px;
    margin: 80px auto;
    text-align: center;
    background-color: #fde6d5;
    padding: 40px 0;
}

.resume h1 {
    font-size: 50px;
    margin-bottom: 40px;
}

.resume-gellary {
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.education {
    width: 600px;
    padding: 20px;
}

.education p {
    font-size: 25px;
    margin-top: 10px;
}

.education h2 {
    font-size: 30px;
    margin-top: 25px;
}

.ecperience {
    width: 600px;
    padding: 20px;
}

.ecperience p {
    font-size: 25px;
    margin-top: 10px;
}

.ecperience h2 {
    font-size: 30px;
    margin-top: 25px;
}

/* footer part */
.footer-container {
    background-color: #fde6d5;
}

.foot {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.footer-text {
    width: 600px;
    padding: 100px;
}

.footer-text h1 {
    font-size: 40px;
    margin-top: 30px;
}

.footer-text p {
    font-size: 20px;
    margin-bottom: 30px;
}

.footer-text img {
    margin-right: 50px;
    width: 24px;
    height: 24px;
}

.foot-table {
    width: 400px;
    padding: 100px;
}

.foot-table h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.foot-table input,
textarea {
    padding: 20px;
    font-size: 15px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 10px;
}

@media screen and (max-width:576px) {
    .header-container {
        width: auto;
        flex-direction: column;
    }

    .header-text {
        flex-direction: column;
    }

    .header-content {
        flex-direction: column;
        width: auto;
    }

    .about {
        flex-direction: column;
        padding: 0;
        width: 300px;

    }

    .about-text {
        padding: 5px;
    }

    .about-me {
        flex-direction: column;
    }

    .work-text {
        width: 250px;
        padding: 0;
        margin: 0 auto;
    }

    .Card {
        flex-direction: column;
        padding: 0;
    }

    .do-card {
        margin: 0 auto;
    }

    .resume h1 {
        font-size: 20px;
        width: 300px;
    }

    .resume-gellary {
        flex-direction: column;
    }

    .education {
        width: 300px;
        padding: 0;
    }

    .ecperience {
        width: 300px;
        padding: 0;
    }
}